.subject-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 0.5rem;
    width: 100%;
    max-width: 100%;
    margin: 0;
    border-radius: 80%;
    animation: fadeInUp 0.5s ease;
    transition: all 0.5s ease;
  }
  
  .subject-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor:pointer
  }
  
  .subject-card h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
    background-color: #9d91c9;
  }
  
  .subject-card p {
    margin: 0rem 0 0;
    color: #666;
    background-color: #9d91c9;
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }