.App {
  text-align: center;
  padding: 0; /* Remove padding */
  min-height: 100vh;
  background: linear-gradient(-45deg, #0d0623, #22393c, #1e1853, #120c32);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
  /* background-image: url(/bgimage.jpg); */
  width: 100%;
  background-size: cover;
  overflow: hidden;
}

.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #3498db;
  border-color: #3498db transparent #3498db transparent;
  animation: loader-spin 1.2s linear infinite;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.notice-section {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 800px;
  width: fit-content;
}

.notice-section h2 {
  text-align: center;
  color: #fbf9f9;
  margin-bottom: 1rem;
  line-height: 1.2;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .subject-grid {
    grid-template-columns: 1fr; /* Cards will stack vertically on small screens */
  }
}

.quotepara {
  color: white;
}

.ending {
  color: white;
}
